:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}



*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--stone-100);
    height: 100vh;
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    margin: auto;
    background-color: var(--white);
    border-radius: 1.3rem;
    padding: 10px 10px 10px 10px;
    font-family: outfit;
}

img {
   display: block;
   width: 100%;
   border-radius: 2rem;
   padding: 25px 25px 2px;
}

h1, h2 {
    font-family: young-serif;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.9rem;
    gap: 1.5rem;
 
}

.preparation {
    padding: 20px 20px 20px 40px;
    background-color: var(--rose-50);
    border-radius: 1.3rem;
}

h3 {
    color: var(--rose-800);
}

h1 {
    font-size: xx-large;
    color: var(--stone-900);
}

h2 {
    color: var(--brown)
}

p, li {
    color: var(--stone-600);
}


ul, ol {
    padding-inline-start: 1.3rem;
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    padding-left: 10px;
}

ul li::marker {
    color: var(--brown);
    font-size: small;
}

ol li::marker {
    color: var(--brown);
    font-weight: 700;
}

span {
    font-weight: 700;
    color: var(--stone-900);
}

table, td {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: var(--stone-150);
    height: 50px;
    border-bottom: 1px solid var(--stone-150);

}

.col-1 {
    width: 20rem;
    color: var(--stone-900);
    padding-left: 2rem;
}

.col-2 {
    color: var(--brown);
    font-weight: 700;
    padding-right: 2rem;
}

footer {
    position: relative;
    text-align: center;
    
}

@media only screen and (max-width: 375px) {
    main {
        margin: 0;
    }

    .container {
        margin: 0;
    }

    img {
        width: 100%;
        border-radius: 0;
    }
}
